@import '../../setting/config';

$class: '.navbar';

#{$class} {

  &-list {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  &-link {
    padding-left: 20px;
    display: block;
    position: relative;
    color: $color-black;
    text-align: center;
    transition: all $transTime;

    &::before {
      content: "";
      width: 2px;
      height: 100%;
      background-color: $color-black;
      position: absolute;
      left: 0;
      transition: all $transTime;
    }
    &:hover::before {
      left: -10px;
    }
  }
  &-titjp {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: $medium-jp;
    letter-spacing: 0.1em;
    line-height: calc(22 / 16);
  }
  &-titen {
    font-size: 12px;
    font-weight: $medium-en;
    line-height: calc(16 / 12);
  }

  // Font-Color: White
  &._white {
    #{$class} {
      &-link {
        color: $color-white;

        &::before {
          background-color: $color-white;
        }
      }
    }
  }
  // Font-Color: Blue
  &._blue {
    #{$class} {
      &-link {
        color: $color-blue;

        &::before {
          background-color: $color-blue;
        }
      }
    }
  }
  // Java Script スタイル
  &.checked {
    #{$class} {
      &-link {
        color: $color-black;

        &::before {
          background-color: $color-black;
        }
      }
    }
  }
}