@charset "UTF-8";
@font-face {
  font-family: "noto_sans_jp";
  src: url("../../font/Noto_Sans_JP/NotoSansJP-Black.otf") format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "noto_sans_jp";
  src: url("../../font/Noto_Sans_JP/NotoSansJP-Bold.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "noto_sans_jp";
  src: url("../../font/Noto_Sans_JP/NotoSansJP-Light.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "noto_sans_jp";
  src: url("../../font/Noto_Sans_JP/NotoSansJP-Medium.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "noto_sans_jp";
  src: url("../../font/Noto_Sans_JP/NotoSansJP-Regular.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "noto_sans_jp";
  src: url("../../font/Noto_Sans_JP/NotoSansJP-Thin.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
body {
  padding-top: 100px;
  background-color: #fff;
  color: #3B4043;
  font-family: "noto_sans_jp", "roboto", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", "YuGothic", "Yu Gothic", "メイリオ", "Meiryo", "MS PGothic", sans-serif;
}
@media (max-width: 1024px) {
  body {
    padding-top: 60px;
  }
}

body.home {
  padding-top: 0;
}

a {
  color: inherit;
}

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.background._blue {
  background-color: #1D2739;
}
.background._white {
  background-color: #ffffff;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 200;
}
@media (max-width: 1024px) {
  .header {
    height: 60px;
  }
}
.header-inner {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1024px) {
  .header-inner {
    padding: 0 20px;
  }
}
.header-logo {
  width: 48px;
  height: 48px;
}
@media (max-width: 1024px) {
  .header-logo {
    width: 34px;
    height: 34px;
  }
}
.header-logo img {
  width: 100%;
  height: auto;
}
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
@media (max-width: 1024px) {
  .header-right {
    display: none;
  }
}
.header.home {
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header.checked {
  background-color: #ffffff;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.navbar-link {
  padding-left: 20px;
  display: block;
  position: relative;
  color: #3B4043;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar-link::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #3B4043;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar-link:hover::before {
  left: -10px;
}
.navbar-titjp {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.375;
}
.navbar-titen {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333;
}
.navbar._white .navbar-link {
  color: #ffffff;
}
.navbar._white .navbar-link::before {
  background-color: #ffffff;
}
.navbar._blue .navbar-link {
  color: #1D2739;
}
.navbar._blue .navbar-link::before {
  background-color: #1D2739;
}
.navbar.checked .navbar-link {
  color: #3B4043;
}
.navbar.checked .navbar-link::before {
  background-color: #3B4043;
}

.hamburger {
  width: 34px;
  height: 34px;
  padding: 8px 0;
  display: none;
  position: relative;
}
@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger-icons {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.hamburger-icon {
  width: 100%;
  height: 2px;
  border-radius: 999px;
  display: inline-block;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hamburger-icon:nth-child(1) {
  top: 0;
}
.hamburger-icon:nth-child(2) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hamburger-icon:nth-child(3) {
  width: 65%;
  bottom: 0;
}
.hamburger.open .hamburger-icon:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.hamburger.open .hamburger-icon:nth-child(2) {
  width: 0;
}
.hamburger.open .hamburger-icon:nth-child(3) {
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
.hamburger._white .hamburger-icon {
  background-color: #ffffff;
}
.hamburger._blue .hamburger-icon {
  background-color: #1D2739;
}
.hamburger.checked .hamburger-icon {
  background-color: #1D2739;
}

.drawer {
  width: 60%;
  height: 100vh;
  padding-top: 140px;
  background-color: #1D2739;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  -webkit-transform: translateX(calc(100% + 10px));
          transform: translateX(calc(100% + 10px));
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .drawer {
    width: 100%;
  }
}
.drawer.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.drawer-nav {
  margin-bottom: 80px;
  padding-right: 40px;
}
@media (max-width: 767px) {
  .drawer-nav {
    padding-right: 20px;
  }
}
.drawer-item {
  margin-bottom: 30px;
}
.drawer-link {
  padding-left: 60px;
  padding-bottom: 8px;
  border-bottom: 2px solid #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.drawer-link::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: -4px;
  right: 0;
}
@media (max-width: 767px) {
  .drawer-link {
    padding-left: 20px;
  }
}
.drawer-titjp {
  margin-right: 100px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3333333333;
}
.drawer-titen {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4166666667;
}
.drawer-inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .drawer-inner {
    padding: 0 20px;
  }
}

.breadcrumb {
  margin-bottom: 80px;
}
.breadcrumb-inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .breadcrumb-inner {
    padding: 0 20px;
  }
}
.breadcrumb-inner > span {
  margin: 0 8px;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .breadcrumb-inner > span {
    font-size: 14px;
  }
}
.breadcrumb-inner > span:first-child {
  margin-left: 0;
}
.breadcrumb-inner > span:hover {
  opacity: 0.8;
}

.footer {
  padding: 30px 0 20px;
  background-color: #3B4043;
}
@media (max-width: 767px) {
  .footer {
    padding: 40px 0;
  }
}
.footer-inner {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media (max-width: 1024px) {
  .footer-inner {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .footer-inner {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-logo {
  position: absolute;
  bottom: 0;
  left: 40px;
}
@media (max-width: 767px) {
  .footer-logo {
    margin-bottom: 32px;
    position: static;
  }
}
.footer-center {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 767px) {
  .footer-center {
    margin-bottom: 49px;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
}
.footer-nav {
  margin-bottom: 38px;
}
@media (max-width: 767px) {
  .footer-nav {
    margin-bottom: 30px;
  }
}
.footer-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.footer-navitem a {
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.05em;
  position: relative;
}
.footer-navitem a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -18px;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-navitem a:hover::after {
  bottom: -8px;
  opacity: 1;
}
.footer-contact {
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-align: center;
}
@media (max-width: 767px) {
  .footer-contact {
    margin-bottom: 24px;
  }
}
.footer-copyright {
  margin-top: 30px;
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.topbtn {
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #1D2739;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .topbtn {
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 10px;
  }
}
.topbtn .fa-solid {
  color: #ffffff;
  font-size: 25px;
}
@media (max-width: 767px) {
  .topbtn .fa-solid {
    font-size: 20px;
  }
}
.topbtn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 5px #ffffff;
          box-shadow: 0 5px #ffffff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.contactbtn-link {
  padding: 14px 27px;
  border-radius: 30px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contactbtn._white .contactbtn-link {
  border: 2px solid #ffffff;
  color: #ffffff;
}
.contactbtn._white .contactbtn-link:hover {
  background: #ffffff;
  color: #1D2739;
}
.contactbtn._blue .contactbtn-link {
  border: 2px solid #1D2739;
  color: #1D2739;
}
.contactbtn._blue .contactbtn-link:hover {
  background: #1D2739;
  color: #ffffff;
}
.contactbtn.checked .contactbtn-link {
  border: 2px solid #3B4043;
  color: #3B4043;
}
.contactbtn.checked .contactbtn-link:hover {
  background: #3B4043;
  color: #ffffff;
}

.sectiontitleHorz {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .sectiontitleHorz {
    margin-bottom: 60px;
  }
}
.sectiontitleHorz-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectiontitleHorz-center {
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .sectiontitleHorz-center {
    padding: 0 20px;
  }
}
.sectiontitleHorz-left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}
.sectiontitleHorz-right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}
.sectiontitleHorz-container {
  display: inline-block;
  text-align: center;
}
.sectiontitleHorz-tit {
  margin-bottom: 20px;
  background-color: #ffffff;
  color: #11B7DA;
  font-size: 48px;
  font-weight: 500;
  position: relative;
}
.sectiontitleHorz-tit::before {
  content: "";
  width: calc(100% + 30px + 40px);
  height: 2px;
  background-color: #11B7DA;
  position: absolute;
  bottom: -10px;
}
@media (max-width: 1024px) {
  .sectiontitleHorz-tit::before {
    width: calc(100% + 30px + 20px);
  }
}
.sectiontitleHorz-tit::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #11B7DA;
  position: absolute;
  bottom: -10px;
}
.sectiontitleHorz-subtit {
  background-color: #ffffff;
  color: #11B7DA;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.sectiontitleHorz._right .sectiontitleHorz-center {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.sectiontitleHorz._right .sectiontitleHorz-right::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #11B7DA;
  position: absolute;
  top: 56px;
  right: 0;
}
.sectiontitleHorz._right .sectiontitleHorz-tit::before {
  left: -30px;
}
.sectiontitleHorz._right .sectiontitleHorz-tit::after {
  left: -30px;
  -webkit-transform: translateY(calc(50% - 1px));
          transform: translateY(calc(50% - 1px));
}
.sectiontitleHorz._left .sectiontitleHorz-center {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sectiontitleHorz._left .sectiontitleHorz-left::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #11B7DA;
  position: absolute;
  top: 56px;
  right: 0;
}
.sectiontitleHorz._left .sectiontitleHorz-tit::before {
  right: -30px;
}
.sectiontitleHorz._left .sectiontitleHorz-tit::after {
  right: -30px;
  -webkit-transform: translateY(calc(50% - 1px));
          transform: translateY(calc(50% - 1px));
}

.top {
  width: 100%;
  height: calc(100vh - 100px);
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 1024px) {
  .top {
    height: calc(100vh - 60px);
  }
}
@media (max-width: 767px) {
  .top {
    margin-bottom: 60px;
    overflow: hidden;
  }
  .top::before {
    content: "";
    width: clamp(538px, 100vw + 160px, 850px);
    height: clamp(538px, 100vw + 160px, 600px);
    border-radius: 50%;
    background-color: #1D2739;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
  }
}
.top::after {
  content: "";
  width: 50%;
  height: 60px;
  border-radius: 999px 0 0 999px;
  background-color: #1D2739;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
@media (max-width: 767px) {
  .top::after {
    width: 100%;
    border-radius: 0px;
  }
}
.top-container {
  width: 570px;
  height: 100%;
  padding: 60px 0 0 100px;
  background: -webkit-gradient(linear, left top, right bottom, from(#1D2739), color-stop(50%, #1D2739), color-stop(50%, transparent), to(transparent));
  background: linear-gradient(to right bottom, #1D2739 0%, #1D2739 50%, transparent 50%, transparent 100%);
}
@media (max-width: 767px) {
  .top-container {
    width: 100%;
    padding: 60px 40px 0 40px;
    background: none;
  }
}
.top-tit {
  margin-bottom: 20px;
  display: inline-block;
  color: #ffffff;
  font-size: 70px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.03em;
  position: relative;
}
@media (max-width: 767px) {
  .top-tit {
    font-size: 50px;
  }
}
.top-tit::before {
  content: "";
  width: calc(100% + 60px);
  height: 2px;
  background-color: #11B7DA;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.top-tit::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #11B7DA;
  position: absolute;
  right: -60px;
  bottom: -10px;
  -webkit-transform: translateY(calc(50% - 1px));
          transform: translateY(calc(50% - 1px));
}
.top-subtit {
  margin-bottom: 60px;
  color: #ffffff;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.05em;
}
@media (max-width: 767px) {
  .top-subtit {
    margin-bottom: 30px;
    font-size: 24px;
  }
}
.top-icon {
  position: absolute;
  bottom: 60px;
  right: 100px;
}
@media (max-width: 767px) {
  .top-icon {
    bottom: 50px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@media (max-width: 767px) {
  .top-img {
    width: 280px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .top-img img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.top-scrollbtn {
  margin-left: 40px;
  display: inline-block;
  text-align: center;
}
@media (max-width: 767px) {
  .top-scrollbtn {
    margin-left: 0;
    display: block;
  }
}
.top-scrollbtn-arrow {
  margin-bottom: 11px;
}
.top-scrollbtn-txt {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.paper {
  margin-bottom: 120px;
}
.paper-inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .paper-inner {
    padding: 0 20px;
  }
}
.paper .paper-list {
  margin-bottom: 20px;
}
.paper .paper-item {
  padding: 20px 30px;
  border-top: 1px solid #707F89;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3333333333;
  letter-spacing: 0.05em;
  position: relative;
}
@media (max-width: 767px) {
  .paper .paper-item {
    font-size: 14px;
  }
}
.paper .paper-item::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3B4043;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.paper .paper-item:last-child {
  border-bottom: 1px solid #707F89;
}
.paper .paper-item:nth-child(3) {
  border-bottom: 1px solid #707F89;
}
.paper .paper-item:nth-child(n+4) {
  display: none;
}
.paper .paper-morebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.paper .paper-morebtn span {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  position: relative;
}
.paper .paper-morebtn span::before {
  content: "";
  width: 2px;
  height: 31px;
  background-color: #3B4043;
  position: absolute;
  bottom: calc(-100% - 15px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.paper .paper-morebtn span::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3B4043;
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.paper .paper-morebtn span:hover {
  cursor: pointer;
}
.paper .paper-morebtn span:hover::after {
  bottom: calc(-100% - 15px);
}
.paper.open .paper-item:nth-child(3) {
  border-bottom: none;
}
.paper.open .paper-item:nth-child(n+4) {
  display: block;
}
.paper.open .paper-morebtn span::after {
  bottom: calc(-100% - 15px);
}
.paper.open .paper-morebtn span:hover::after {
  bottom: -15px;
}

.conference {
  margin-bottom: 120px;
}
.conference-inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .conference-inner {
    padding: 0 20px;
  }
}
.conference .conference-list {
  margin-bottom: 20px;
}
.conference .conference-item {
  padding: 20px 30px;
  border-top: 1px solid #707F89;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3333333333;
  letter-spacing: 0.05em;
  position: relative;
}
@media (max-width: 767px) {
  .conference .conference-item {
    font-size: 14px;
  }
}
.conference .conference-item::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3B4043;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.conference .conference-item:last-child {
  border-bottom: 1px solid #707F89;
}
.conference .conference-item:nth-child(3) {
  border-bottom: 1px solid #707F89;
}
.conference .conference-item:nth-child(n+4) {
  display: none;
}
.conference .conference-morebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.conference .conference-morebtn span {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  position: relative;
}
.conference .conference-morebtn span::before {
  content: "";
  width: 2px;
  height: 31px;
  background-color: #3B4043;
  position: absolute;
  bottom: calc(-100% - 15px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.conference .conference-morebtn span::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3B4043;
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.conference .conference-morebtn span:hover {
  cursor: pointer;
}
.conference .conference-morebtn span:hover::after {
  bottom: calc(-100% - 15px);
}
.conference.open .conference-item:nth-child(3) {
  border-bottom: none;
}
.conference.open .conference-item:nth-child(n+4) {
  display: block;
}
.conference.open .conference-morebtn span::after {
  bottom: calc(-100% - 15px);
}
.conference.open .conference-morebtn span:hover::after {
  bottom: -15px;
}

.lecture {
  margin-bottom: 120px;
}
.lecture-inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .lecture-inner {
    padding: 0 20px;
  }
}
.lecture .lecture-list {
  margin-bottom: 20px;
}
.lecture .lecture-item {
  padding: 20px 30px;
  border-top: 1px solid #707F89;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3333333333;
  letter-spacing: 0.05em;
  position: relative;
}
@media (max-width: 767px) {
  .lecture .lecture-item {
    font-size: 14px;
  }
}
.lecture .lecture-item::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3B4043;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.lecture .lecture-item:last-child {
  border-bottom: 1px solid #707F89;
}
.lecture .lecture-item:nth-child(3) {
  border-bottom: 1px solid #707F89;
}
.lecture .lecture-item:nth-child(n+4) {
  display: none;
}
.lecture .lecture-morebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.lecture .lecture-morebtn span {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  position: relative;
}
.lecture .lecture-morebtn span::before {
  content: "";
  width: 2px;
  height: 31px;
  background-color: #3B4043;
  position: absolute;
  bottom: calc(-100% - 15px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.lecture .lecture-morebtn span::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3B4043;
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.lecture .lecture-morebtn span:hover {
  cursor: pointer;
}
.lecture .lecture-morebtn span:hover::after {
  bottom: calc(-100% - 15px);
}
.lecture.open .lecture-item:nth-child(3) {
  border-bottom: none;
}
.lecture.open .lecture-item:nth-child(n+4) {
  display: block;
}
.lecture.open .lecture-morebtn span::after {
  bottom: calc(-100% - 15px);
}
.lecture.open .lecture-morebtn span:hover::after {
  bottom: -15px;
}

.book {
  margin-bottom: 120px;
}
.book-inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .book-inner {
    padding: 0 20px;
  }
}
.book .book-list {
  margin-bottom: 20px;
}
.book .book-item {
  padding: 20px 30px;
  border-top: 1px solid #707F89;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3333333333;
  letter-spacing: 0.05em;
  position: relative;
}
@media (max-width: 767px) {
  .book .book-item {
    font-size: 14px;
  }
}
.book .book-item::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3B4043;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.book .book-item:last-child {
  border-bottom: 1px solid #707F89;
}
.book .book-item:nth-child(3) {
  border-bottom: 1px solid #707F89;
}
.book .book-item:nth-child(n+4) {
  display: none;
}
.book .book-morebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.book .book-morebtn span {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  position: relative;
}
.book .book-morebtn span::before {
  content: "";
  width: 2px;
  height: 31px;
  background-color: #3B4043;
  position: absolute;
  bottom: calc(-100% - 15px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.book .book-morebtn span::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3B4043;
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.book .book-morebtn span:hover {
  cursor: pointer;
}
.book .book-morebtn span:hover::after {
  bottom: calc(-100% - 15px);
}
.book.open .book-item:nth-child(3) {
  border-bottom: none;
}
.book.open .book-item:nth-child(n+4) {
  display: block;
}
.book.open .book-morebtn span::after {
  bottom: calc(-100% - 15px);
}
.book.open .book-morebtn span:hover::after {
  bottom: -15px;
}

.award {
  margin-bottom: 120px;
}
.award-inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .award-inner {
    padding: 0 20px;
  }
}
.award .award-list {
  margin-bottom: 20px;
}
.award .award-item {
  padding: 20px 30px;
  border-top: 1px solid #707F89;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3333333333;
  letter-spacing: 0.05em;
  position: relative;
}
@media (max-width: 767px) {
  .award .award-item {
    font-size: 14px;
  }
}
.award .award-item::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3B4043;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.award .award-item:last-child {
  border-bottom: 1px solid #707F89;
}
.award .award-item:nth-child(3) {
  border-bottom: 1px solid #707F89;
}
.award .award-item:nth-child(n+4) {
  display: none;
}
.award .award-morebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.award .award-morebtn span {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  position: relative;
}
.award .award-morebtn span::before {
  content: "";
  width: 2px;
  height: 31px;
  background-color: #3B4043;
  position: absolute;
  bottom: calc(-100% - 15px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.award .award-morebtn span::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3B4043;
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.award .award-morebtn span:hover {
  cursor: pointer;
}
.award .award-morebtn span:hover::after {
  bottom: calc(-100% - 15px);
}
.award.open .award-item:nth-child(3) {
  border-bottom: none;
}
.award.open .award-item:nth-child(n+4) {
  display: block;
}
.award.open .award-morebtn span::after {
  bottom: calc(-100% - 15px);
}
.award.open .award-morebtn span:hover::after {
  bottom: -15px;
}